%sample
%script{type: 'riot/tag', src: examples_live_demo_path(format: :tag)}
<!-- include riot.js -->
<script src="https://cdn.jsdelivr.net/riot/3.0/riot+compiler.min.js"></script>
<!-- mount the tag -->
<script>riot.mount('sample')</script>
